@font-face {
    font-family: "My Custom Font";
    src: url("fonts/cs_regular.ttf");
}
html { background-image: url("https://steamuserimages-a.akamaihd.net/ugc/2503508097937438570/BA43BA7CA1F847CE54BF340B4D3D6AB3437D8EE9/?imw=512&imh=512&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=true"); 
}
.button {
  border: none;
  padding: 1.9px 5.87px;
  border-radius: 0.1;
  color: rgba(0, 0, 0, 0.939);
  text-align: center;
  text-decoration: none;
  display: list-item;
  font-size: 10px;
  font-family: My Custom Font;
  margin: 8px 10px;
  cursor: pointer;
}
.button1 {
  background-color: rgb(182, 180, 180);
  bottom: -1%;
  left: 30.3%;
  position: absolute;
  font-family: My Custom Font;
}
.button2 {
  background-color: rgb(182, 180, 180);
  bottom: -1%;
  left: 34.6%;
  position: absolute;
}
.button3 {
  background-color: rgb(182, 180, 180);
  bottom: -1%;
  left: 38.9%;
  position: absolute;
}
.button4 {
  background-color: rgb(182, 180, 180);
  left: 50%;
  position: absolute;
}
