@font-face {
   font-family: myFirstFont;
   src: url(fonts/cs_regular.ttf);
}
html, head, body { background-image: url("fonts/CSGO Prop.jpeg"); 
}
.button {
  border: none;
  padding: 1.9px 5.87px;
  border-radius: 0.1;
  color: rgba(0, 0, 0, 0.939);
  text-align: center;
  text-decoration: none;
  display: list-item;
  font-size: 10px;
  margin: 8px 10px;
  cursor: pointer;
}
.button1 {
  background-color: rgb(182, 180, 180);
  bottom: -1%;
  left: 30.3%;
  position: absolute;
  font-family: myFirstFont;
}
.button2 {
  background-color: rgb(182, 180, 180);
  bottom: -1%;
  left: 34.6%;
  position: absolute;
  font-family: myFirstFont;
}
.button3 {
  background-color: rgb(182, 180, 180);
  bottom: -1%;
  left: 38.9%;
  position: absolute;
  font-family: myFirstFont;
}
.button4 {
  background-color: rgb(182, 180, 180);
  left: 50%;
  position: absolute;
  font-family: myFirstFont;
}
